.project-image {
  position: absolute;

  img {
    width: 170px;
    height: 180px;
    border: 10px solid #E0474C;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}
