* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 180px;
  height: 180px;
  overflow: hidden;
  padding: 20px;

  img {
    max-width: 100%;
    max-height: 100%;
    border: 10px solid #CE93D8;
    border-radius: 100%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}
